@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

	 <div class="left">

        <div class="title">
            God Ray Simulator
        </div>

        <div class="explanation">
            <p>
                Ideally there will be three gamemodes in the future, "Speed Run", "Survival", and "Explore".
            </p>

            <p>
                Pick a gamemode to start the game.
            </p>
        </div>

    </div>

</root>

@code
{

}