@using Sandbox;
@using Sandbox.UI;

@inherits PanelComponent

<root 
	class= "buttons">
	<h>GAMEMODE</h>
	<div class= "options">
		<div class="button speedrun" onclick=@StartdaGame2>
			Speedrun⏱️
		</div>
		<div class="button" onclick=@StartdaGame1>
			Laylad's Ball Room 🔵
		</div>
		<div class="button sfx" onclick=@( () => Game.Overlay.ShowSettingsModal() )>
            Settings 
        </div>
	</div>
</root>

@code
{
	
 void StartdaGame1()
	{
        Scene.LoadFromFile("scenes/godray.scene");
	}
	
 void StartdaGame2()
	{
        Scene.LoadFromFile("scenes/godray2.scene");
	}

}
