@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">
		
			YOU DIED

		<div class="esc title">

			Press ESC to open Pause Menu


		</div>


	</div>


</root>

@code
{


}