@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">
		
			Somehow you beat God Ray Simulator! Congrats here's an unfinished UI: Screenshot for bragging rights. 


		<div class="esc title">

			Press ESC to open Pause Menu


		</div>


	</div>


</root>

@code
{


}